<header id="header">
  <a href="/" class="logo">
    <img
      src="/assets/img/slope-logo.png"
      width="190"
      height="85"
      alt="Slope Game"
    />
  </a>
  <div class="headwrap">
    <div class="headtop">
      <div class="search">
        <button type="button" class="icon-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <form action="#" method="get" id="formSearch">
          <input id="search" autocomplete="off" type="search" maxlength="50" />
        </form>
        <ul id="results"></ul>
      </div>
      <button type="button" class="icon-login">
        <i class="fa-solid fa-user icon-user"></i>
      </button>
    </div>
    <nav>
      <ul id="menu">
        <li class="navhome">
          <a href="/" class="icon-home"><i class="fa-solid fa-house"></i></a>
        </li>
        <div id="menu-scroll">
          <li class="navover"><a href="/list" class="border0">All</a></li>
          <li class="navover">
            <a href="/flash-games" class="border0">Flash</a>
          </li>
          <li class="navover">
            <a href="/simulator-games" class="border0">Simulator</a>
          </li>
          <li class="navover">
            <a href="/idle-games" class="border0">Idle</a>
          </li>
          <li class="navover">
            <a href="/sport-games" class="border0">Sport</a>
          </li>
          <li class="navover">
            <a href="/action-games" class="border1">Action</a>
          </li>
          <li class="navover">
            <a href="/adventure-games" class="border2">Adventure</a>
          </li>
          <li class="navover">
            <a href="/running-games" class="border3">Running</a>
          </li>
          <li class="navover">
            <a href="/car-games" class="border4">Car</a>
          </li>
          <li class="navover">
            <a href="/shooting-games" class="border5">Shooting</a>
          </li>
          <li class="navover">
            <a href="/skill-games" class="border0">Skill</a>
          </li>
          <li class="navover">
            <a href="/stickman-games" class="border0">Stickman</a>
          </li>
          <li class="navover">
            <a href="/2-player-games" class="border0">2 players</a>
          </li>
          <li class="navover">
            <a href="/io-games" class="border0">Io</a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</header>
